body {
  margin: 0;
  background: black;
  color: #00ff9d;
  font-family: monospace;
}

.container {
  text-align: center;
  padding-top: 80px;
}

input {
  margin-top: 10px;
  padding: 10px;
  background: black;
  border: 1px solid #00ff9d;
  color: #00ff9d;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: #00ff9d;
  border: none;
  cursor: pointer;
}
